[submodule "lift3d/models/point_next/openpoints"]
	path = lift3d/models/point_next/openpoints
	url = git@github.com:jiayueru/openpoints.git
[submodule "lift3d/models/dinov3"]
	path = lift3d/models/dinov3
	url = git@github.com:facebookresearch/dinov3.git
