services:
  autonomous_surgery:

    image: autonomous_surgery:latest
    container_name: autonomous_surgery_dev

    network_mode: host
    ipc: host

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    environment:
      - SSH_AUTH_SOCK=/ssh-agent
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - HF_HOME=/workspace/.hf
      - HF_TOKEN=<your_huggingface_token_here>

    volumes:
      - ./:/workspace
      - conda_envs:/opt/conda/envs
      - ${SSH_AUTH_SOCK}:/ssh-agent
      - ./.hf:/.hf

    working_dir: /workspace
    stdin_open: true
    tty: true
    command: bash

volumes:
  conda_envs:

