version: "3.9"

services:
  autonomous_surgery:

    image: autonomous_surgery:latest
    container_name: autonomous_surgery_dev

    network_mode: host
    ipc: host

    environment:
      - SSH_AUTH_SOCK=/ssh-agent
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all

    volumes:
      - ./:/workspace
      - conda_envs:/opt/conda/envs
      - $SSH_AUTH_SOCK:/ssh-agent

    working_dir: /workspace
    stdin_open: true
    tty: true
    command: bash

volumes:
  conda_envs:
