# lift3d/config/benchmark/act_offline.yaml
name: ACT_Offline

dataset_instantiate_config:
  _target_: lift3d.dataset.chunk_wrapper.ChunkDatasetWrapper
  _recursive_: false

  base_dataset:
    _target_: lift3d.dataset.MetaWorldDataset
    _recursive_: false

  chunk_size: 50
  stride: 1
  pad: true
  pad_value: 0.0

  pos_scale: 1000
  pos_dim: 3

  # one episode has 700 frames in your peg_recover dataset
  episode_length: 700

# Optional: dataset-based evaluator (offline)
evaluator_instantiate_config:
  _target_: lift3d.envs.dataset_evaluator.DatasetEvaluator
  _recursive_: false   # <<< IMPORTANT: prevent hydra from instantiating dataset_instantiate_config early

  task_name: ${task_name}
  data_dir: ${dataset_dir}
  dataset_instantiate_config: ${benchmark.dataset_instantiate_config}

  split: validation
  episode_length: 700
  max_episode_length: null

  success_from_error: true
  success_alpha: 5.0

loss_func:
  _target_: lift3d.loss.act_vae_loss.act_vae_loss
  kl_weight: 0.001
  use_smooth_l1: false
  smooth_l1_beta: 1.0
  reduction: mean
  include_is_pad_loss: false