name: RepresentationACTActor
instantiate_config:
  _target_: autonomous_surgery.models.representation.representation_act_actor.RepresentationACTActor

  action_dim: 4
  robot_state_dim: 4
  chunk_size: 50
  model_emb_dim: 512

  # transformer parameters
  nhead: 8
  num_decoder_layers: 4
  num_encoder_layers: 4
  dim_feedforward: 2048
  dropout: 0.1

  latent_dim: 64
  max_action_seq_len: 512

  return_dict: true
  sample_prior: false

  # Encoders
  representation_encoder:
    _target_: autonomous_surgery.models.representation.representation_encoder.RepresentationEncoderNoDepth
    
    device: cuda

    image_encoder:
      _target_: autonomous_surgery.models.representation.representation_encoder.DinoV3Encoder
      model_name: dinov3_vith16plus
      resize_size: ${agent.instantiate_config.representation_encoder.resize_size}
      num_register_tokens: 4

    depth_encoder:
      _target_: autonomous_surgery.models.representation.representation_encoder.DepthEncoder
      patched_dim: ${agent.instantiate_config.representation_encoder.patched_dim}

    robot_state_dim: ${agent.instantiate_config.robot_state_dim}
    model_emb_dim: ${agent.instantiate_config.model_emb_dim}
    patched_dim: 16
    resize_size: 256